.background {
  z-index: -1;
  &__login-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 583px;
    background-color: #f5f6fb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60px;
    border-bottom-left-radius: 200px;
    box-shadow: 4px 0px 4px 0px #00000025;
  }
  &__login-bottom {
    position: absolute;
    bottom: 50px;
    left: 230px;
    width: 100%;
    height: 142px;
    background-repeat: no-repeat;
  }
  &__main-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 583px;
    background-color: #f5f6fb;
    border-bottom-left-radius: 200px;
    box-shadow: 4px 0px 4px 0px #00000025;
  }
  &__main-bottom {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -38px;
    left: 0;
    width: 100%;
    height: 232px;
    @include mobile() {
      background-image: none;
    }
  }
}
