.input-container {
  display: flex;
  justify-content: space-between;
}
.form-input {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.02em;
}

.input-productName {
  padding: 13px;
  width: 270px;

  border: none;
  box-sizing: border-box;
  border: 2px solid #f5f6fb;
  border-radius: 16px 0px 0px 0px;
  border-right: none;
  outline: none;
}

.input-productValue {
  padding: 13px 50px 13px 13px;
  width: 125px;

  border: 2px solid #f5f6fb;
  box-sizing: border-box;
  border-radius: 0px 16px 16px 0px;
  border-left: none;
  outline: none;
  text-align: right;
}

.input-productValue-label {
  position: relative;
  & > svg {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
