button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .counter-tab-header-buttons {
    margin: 0;
    // font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    // color: #000000;
  }

  .counter-tab-header-buttons:hover {
    cursor: pointer;
    color: #ff751d;
  }

  .counter-tab-header-container {
    position: absolute;
    width: 138px;
    height: 40px;

    text-align: center;
    align-items: center;

    border-radius: 20px 20px 0 0;
    background-color: #fafbfd;
  }
  .counter-tab-costs {
    left: 51px;
    top: 198px;
  }
  .counter-tab-profits {
    left: 189px;
    top: 198px;
  }

  .counter-tab-active {
    color: #ff751d;
    // background-color: #fefefe;
    background-color: grey;
  }

  .counter-tab-container {
    position: absolute;
    width: 665px;
    height: 626px;
    left: 51px;
    top: 238px;

    background-color: #ffffff;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .counter-tab-header-container {
    position: absolute;
    left: 110px;
    top: 149px;
  }

  .counter-tab-profits {
    left: 248px;
    top: 149px;
  }

  .counter-tab-container {
    width: 1060px;
    height: 579px;
    left: 110px;
    top: 188px;
  }
}
