.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  position: relative;
  width: 380px;
  height: 194px;
  padding: 60px;

  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;

  &-text {
    margin-top: 0;
    margin-bottom: 20px;

    text-align: center;
  }
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover > svg > path {
    stroke: $black-cl;
  }
}
