input,
textarea,
select {
  -webkit-appearance: none;
  border: none;
  border: 0;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .input-container {
    display: flex;
    justify-content: center;

    position: absolute;
    width: 467px;
    height: 44px;
    left: 219px;
    top: 266px;
  }

  .form-input {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
  }

  .border-select-category {
    width: 171px;
    height: 44px;
    border-top: 2px solid #f5f6fb;
    border-bottom: 2px solid #f5f6fb;
  }

  .input-productName {
    width: 192px;
    height: 44px;

    padding-left: 20px;

    border: 2px solid #f5f6fb;
    box-sizing: border-box;
    border-radius: 16px 0px 0px 0px;

    .select-category {
      width: 171px;
      height: 44px;

      padding-left: 20px;

      border-top: 2px solid #f5f6fb;
      border-bottom: 2px solid #f5f6fb;
    }
  }

  .input-productValue {
    width: 104px;
    height: 44px;

    padding-left: 20px;

    border: 2px solid #f5f6fb;
    box-sizing: border-box;
    border-radius: 0px 16px 16px 0px;
  }

  .input-button {
    position: absolute;
    width: 125px;
    height: 44px;
    left: 251px;
    top: 340px;

    border: 2px solid #f6f7fc;
    box-sizing: border-box;
    border-radius: 16px;

    &:hover {
      background: #ff751d;
    }
  }

  .input-clear {
    position: absolute;
    width: 125px;
    height: 44px;
    left: 391px;
    top: 340px;

    border: 2px solid #f6f7fc;
    box-sizing: border-box;
    border-radius: 16px;

    &:hover {
      background: #ff751d;
    }
  }
}

@media screen and (min-width: 1200px) {
  .input-container {
    width: 601px;
    height: 44px;
    left: 257px;
    top: 221px;
  }

  .input-productName {
    width: 289px;
  }

  .select-category {
    width: 188px;
  }

  .input-productValue {
    width: 126px;
  }

  .input-button {
    left: 885px;
    top: 221px;
  }

  .input-clear {
    left: 1025px;
    top: 221px;
  }
}
