// input {
//   padding: 0;
//   margin: 0;
//   border: 0;
//   border: none;
// }

input,
textarea,
select {
  -webkit-appearance: none;
  border: none;
  border: 0;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .input-container {
    display: flex;
    justify-content: center;

    position: absolute;
    width: 467px;
    height: 44px;
    left: 219px;
    top: 266px;

    border: 2px solid #f5f6fb;
    box-sizing: border-box;
    border-radius: 16px 16px 16px 0px;
  }

  .form-input {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #c7ccdc;
  }

  //   .icon-input {
  //     position: absolute;
  //     display: block;
  //     bottom: 0;
  //     transform: translateY(-25%);
  //     margin-left: 15px;
  //     fill: #212121;
  //     z-index: 100;
  //   }
}
