:root{
    --trancition:all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --cl_accent:#ff751d;
    --cl_accent_h:#c95b17;
    --cl_button:#f5f6fb;
    --cl_button_h:#cecece;
    --cl_red:#eb5757;
    --cl_green:green;
    --cl_white:white;
    --cl_input: #f6f7fb;
}

.container_form {
  width: 436px;
  height: 600px;

  display: flex;
  justify-content: center;

  border:1px solid red;
  border-radius: 30px;
  background-color: var(--cl_white);
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}
.form {
  padding: 0px 85px;
}
.container_google {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 30px;
}

.text {
  padding: 0;
  margin: 0;

  font-family: 'Roboto';
  width: 400;
  font-size: 12px;
  letter-spacing: 0.04em;

  color: #52555f;
}
.button_google {
  width: 122px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #000000;

  border-radius: 26px;
  background: var(--cl_button);

  border: inherit;
  cursor: pointer;
  filter: drop-shadow(1px 2px 3px rgba(170, 178, 197, 0.2));
  transition: var(--trancition)
}
.button_google::before {
  content: url('./google.svg');
  margin-right: 10px;
}
.button_google:hover {
  background:var(--cl_button_h);
  transition: var(--trancition)
}

.container_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.star {
  color: var(--cl_red);
}
.label:not(:first-child) {
  margin-top: 25px;
}
.label {
  position: relative;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}
.input {
  padding-left: 25px;
  margin-top: 10px;
  width: 265px;
  height: 40px;

  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;

  color: black;

  border-radius: 30px;
  border: 1px solid var(--cl_input);
  outline: none;
  background: var(--cl_input);
}
.input::placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;

  color: #a6abb9;
}
/* .label:last-child::after {
  content: '*обязательные поля';
  font-family: 'Roboto';
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 10px;
  line-height: 12px;

  letter-spacing: 0.04em;

  color: var(--cl_red);
} */
.input:focus {
  border-color: var(--cl_accent);
}

.input:hover .label::after {
  content: ' ';
  display: none;
}

.input:not(:placeholder-shown):required:invalid {
  border-color: var(--cl_red);
}

.input:not(:placeholder-shown):required:valid {
  border-color: var(--cl_green);
}
.button_container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.button_enter {
  width: 125px;
  height: 44px;
  margin-right: 15px;

  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--cl_white);

  background: var(--cl_accent);
  border-radius: 16px;
  cursor: pointer;
  border: inherit;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  transition: var(--trancition)
}

.button_regist {
  width: 125px;
  height: 44px;

  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #52555F;

  background: var(--cl_button);
  border-radius: 16px;

  cursor: pointer;
  border: inherit;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  transition: var(--trancition)
}
.button_enter:hover {
  color: var(--cl_button_h);
  background: var(--cl_accent_h);
  transition: var(--trancition)
}
.button_regist:hover {
    color: var(--cl_white);
  background: var(--cl_button_h);
  transition: var(--trancition)
}
