$main-text-cl: #52555f;
$white-cl: #ffffff;
$hero-cl: #ff751d;
$logo-cl: #fb7c2f;
$orange-cl: #ffdac0;
$black-cl: #000000;
$dark-cl: #071f41;
$accent-cl: #e53935;
$number-cl: #e7192e;
$red-cl: #eb5757;
$green-cl: #407946;
$light-cl: #f5f6fb;
$modal-cl: #1d346a;
$modalgrad-cl: #031634;
$section-cl: #f5f4fa;
$color-cl: #f6f7fc;
$grey-cl: #c7ccdc;
$user-cl: #e0e5eb;
